.navbar{
	width: 100%;
	background-color: hsl(198, 70%, 26%);
	height: 10%;
	display: flex;
}

.navLogo{
	padding:1%;
	width: 10%;
}

.navLogo img{
	margin-left: 5%;
	width: 70%;
	height: 6%;
}

.navSearch{
	padding: 10px;
	width: 20%;
	height: 60px;
	display: flex;
}

.navSearch input{
	width: 100%;
	font-size: 15px;
	padding: 12px 20px 12px 20px;
}

.navSearch i{
	font-size: 15px;
	padding: 12px 15px 15px 15px;
	background-color: rgb(67, 166, 209);
	color: white;
}


.navLinks{
	width: 70%;
	
}

.navLinks a{
	color: rgb(255, 255, 255);
	text-decoration: none;
	margin-left: 50px;
	font-size: 20px;
	font-weight: bold;
}

.navLinks a:hover{
	color: rgb(67, 166, 209);
}

.navLinks button{
	background-color: rgb(67, 166, 209) ;
	text-decoration: none;
	margin-left: 50px;
	margin-right: 50px;
	font-size: 20px;
	font-weight: bold;
	border-radius: 3px;
	border: 0px;
}

.mainPage{
	background-color: rgb(114, 122, 125);
	
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 90px 10px 0px 10px;
}

.page{
	background-color: white;
	min-height: 800px;
	width: 1200px;
	display: flex;
}

.page2{
	background-color: white;
	width: 1200px;
}

.page3{
	background-color: white;
	width: 1200px;
	min-height: 800px;
}
.page4{
	background-image: url(UFC10.jpg);
	min-height: 800px;
	width: 1200px;
}
.page5{
	background-color: white;
	min-height: 800px;
	width: 1200px;
}

.flex{
	display: flex;
}

.bt{
	padding: 30px;
	width: 40%;
	height: 200px;
}

.vseTegi{
	padding: 20px;
}

.bt2{
	width: 60%;
	padding: 30px;
	height: 1500px;
}

.flex-container{
	display: flex;
	margin-top: 40px;
}

.card{
	margin-left: 20px;
}

.tablePage{
	width: 70%;
	padding: 30px;
	text-align: center;
}

.tablePhoto img{
	width: 100%;
	padding: 30px;
}

.videoHead{
	padding: 30px;
}

.videoCard{
	padding: 30px;
}
.flex-container3{
	display: flex;
	justify-content: space-between;
	justify-content: center;
    flex-wrap: wrap;
}
.Block3 {
box-shadow: rgb(31 31 31 / 12%) 0px 1px 6px, rgb(31 31 31 / 12%) 0px 1px 4px;
height: 400px;
width: 33%;
margin: 30px;
justify-content:center;
}
.imgP {
	width: 30%;
}
.imgP img {
	margin: 5px;
	border-radius: 5px;
	width: 230%;
	height: 300%;
}
.text {
	margin: 80px;
}
.vystavka {
	width: 160px;
	height: 180px;
    margin-left: 10%;
    }
.vystavka img {
	width: 100%;
	height: 100%;
}
.news {
	width: 500px;
}
.cofe {
	margin-left: 900px;
	margin-top: -650px;
	width: 250px;
	height: 400px;
}
.cofe img {
	width: 100%;
	height: 100%;
}

@media screen and(max-width: 700px){

.navLinks a{
	margin-left: 200px;
}
.navLinks button{
	margin-left: 50px;
}
.flex{
 flex-direction: column ;
}
.flex-container{
	flex-direction: column ;
}

.page {
	flex-direction: column ;
}
.tablePage{
	text-align: center;
	padding: 0 auto;
}
.mainPage{
	min-height: 1500px;
}
.bt{
	min-height: 1500px;
}
.bt2{
	min-height: 1500px;
}	
.list-group {
	width: 100% ;
}
.vystavka {
	margin-left: 0px;
    }
}